{% extends 'base.html.twig' %}


{% block title %} Edit moto{% endblock %}
{% block body %}
<h1>ajout d'une moto</h1>
    
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}})}}
    {{ form_errors(form)}}
  
    <div class="row">
        <div class="col">
            {{ form_row(form.marque, {'attr':{'placeholder':'veuillez entrer la marque'}} )}}
        </div>
        <div class="col">
            {{ form_row(form.modele, {'attr':{'placeholder':'veuillez entrer le modele'}} )}}
        </div>
    </div>

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-warning col-12 mt-2">Ajouter</button>

    {{ form_end(form)}}

{% endblock %}